<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link th:href="@{css/style.css}" rel="stylesheet">
<title>Home</title>
</head>

<body class="masthead">
	
            
	<div class="title-container mt-5 ">
		<h1 class="display-2">Miembros del equipo</h1>
		<table class="table table-hover" style="width: 40vw;">

			<tbody>
				<tr>
					<td>Jorge Bergandi</td>
					<th>Github:</th>
					<td><a href="https://github.com/jlb984" target="_BLANCK">jlb984</a></td>
				</tr>
				<tr>
					<td>Erika Valdez</td>
					<th>Github:</th>
					<td><a href="https://github.com/ErikaValdez/" target="_BLANCK">ErikaValdez</a></td>
				</tr>
				<tr>
					<td>Sebastian Pennini</td>
					<th>Github:</th>
					<td><a href="https://github.com/Lucas-Martz" target="_BLANCK">Lucas Martinez</a></td>
				</tr>
				
			</tbody>
		</table>


		<p class="m-4" style="font-family: Monospace;">
			Grupo <strong>11</strong> año: <strong>2023</strong> materia: <strong>Orientacion
				a Objetos II.</strong> <br> Sistema de DispositivosIOT realizado en
			SpringBoot, con base de datos SQL y Bootstrap para las vistas <br>Github
			del proyecto: <a
				href="https://github.com/jlb984/grupo-11-OO2-2023"
				target="_BLANCK">AQUI</a>
		</p>
	</div>
	<a th:href="@{/}" class="btn btn-link ">Volver al inicio</a>

</body>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	crossorigin="anonymous"></script>

</html>